# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Log files
*.log
*.log.*

# Virtualenv
virtualenv/
venv/
env/

# Temp files
*~
\#*\#

# IDE
.idea/

# Project specific
static/
settings_local.py
